<?xml version="1.0"?>
<ruleset name="MyProjectCodingStandard">

	<description>This defines the Inpsyde coding standards.</description>

	<file>./src/Main/WPNonce.php</file>
	<file>./src/Main/WPNonceChecker.php</file>
	<file>./src/Main/WPNonceFactory.php</file>
	<file>./src/Interfaces/WPNonceInterface.php</file>
	<!--<file>./tests/PHPUnit/WPNonceCheckerTest.php</file>-->

	<config name="text_domain" value="Woncer"/>

	<rule ref="Inpsyde"/>

</ruleset>