<?xml version="1.0"?>
<ruleset name="MyProjectCodingStandard">

	<description>This defines the Inpsyde coding standards.</description>

	<file>./src/Interfaces/WPNonceInterface.php</file>
	<file>./src/Main/WPNonceAbstract.php</file>
	<file>./src/Main/WPNonceChecker.php</file>
	<file>./src/Main/WPNonceCreator.php</file>
	<file>./src/Main/WPNonceURLCreator.php</file>
	<file>./src/Main/WPNonceFieldCreator.php</file>
	<file>./src/Main/WPNonceFactory.php</file>


	<file>./tests/PHPUnit/WPNonceCreatorTest.php</file>	
	<file>./tests/PHPUnit/WPNonceCheckerTest.php</file><!--
	<file>./tests/PHPUnit/WPNonceFactoryTest.php</file>-->

	<config name="text_domain" value="Woncer"/>

	<rule ref="Inpsyde"/>

</ruleset>